.nav{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items:center;

}
.nav ul{
    display: flex;
    gap: 20px;

    
}

.nav ul li{
    list-style: none;
    
    
}
.nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}
.nav ul li a:hover{
    color:#ff305b ;
}
.nav ul li a:active{
    color:#ff305b;
}
/* .body{
    color: rgb(85, 85, 85);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px; */

.nav .logo{
    text-transform: capitalize;
    font-size: 24px;
    font-weight:800 ;
    padding:18px 0;
    color:#ff305b;
}
.contanier{
    background-color: rgba(0, 0, 0, 0.8);
   
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    
}
.content{    
    text-align: center;
    
    
    
    
}
.content h3{
    color: white;
}
.content h1{
    color: #ff305b;
    font-size:70px;
    font-weight: bold;
    text-transform: uppercase;
}
.content h4{
    color: white;
    font-size: 26px;
    text-transform: capitalize;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.bg-img{
    background-image: url(assets/image/slider-02.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position:center;
}